@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Instrument Serif", "serif";
  max-width: 100%;
  height: auto;
  padding: 0 4rem;
}
